.custom-hover {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-hover:hover {
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.4); /* Dark shadow on hover */
    transform: translateY(-8px);
    /* Subtle lift effect */
}

.card {
    border-radius: 30px; /* Rounded corners */
}

      footer {
    margin-top: auto;
    flex-shrink: 0;  /* Prevent shrinking */
  }

  /* Ensure that footer content has proper spacing */
  footer .container {
    padding: 20px; /* Ensure enough space inside the footer */
  }

  /* Style for social media buttons */
  footer .btn {
    min-width: 50px;  /* Increase the minimum width of the button */
    padding: 15px; /* Adjust padding to make the buttons larger */
    font-size: 20px; /* Increase font size of icons */
    display: inline-flex; /* Ensure the icon is aligned properly */
    justify-content: center;
    align-items: center;
  }

  footer .fab {
    font-size: 10px; /* Increase the size of the icon */
  }

  .content::-webkit-scrollbar {
      display: none;
    }


  .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D"http://www.w3.org/2000/svg" fill%3D"black" viewBox%3D"0 0 16 16"%3E%3Cpath d%3D"M11.354 1.354a.5.5 0 0 1 0 .707L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/%3E%3C/svg%3E');
  }




