
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Recommendation System</title>
    <link rel="icon" href="https://img.icons8.com/material-outlined/24/shopping-cart--v1.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

{% include 'navbar.html' %}

<img src="static/img/sales_50.jpg" style="height:450px; width:100%; " >

<div class="container1" style="width:auto; padding:auto; margin-top:20px">
        {% if user_id %}
        <p class="text-center" style="font-size:30px">Logged in as: <strong>{{ user_id }}</strong></p>
        {% else %}
        <p class="text-center text-danger" style="font-weight:bold; font-size:30px">No User logged in! Please Log in to Get personalised Recommendation</p>
        {% endif %}
    </div>



<!-- Search Bar -->
<div class="container1 text-center" style="margin-top:30px; width:auto;">
    <form action="/recommendations" method="post" style="display:flex;">
            <input type="text" class="form-control mr-2" style="  padding:10px; font-size:20px ;font-weight:bold; letter-spacing: 2px;" name="search_query" placeholder="Search for products...">
            <button class="btn btn-primary" id="search">Search</button>
    </form>
</div>





<!--Trending Product recommendation-->
<div class="container1 mt-10">
  <p class="text-center mb-10" style="padding: 20px; font-size: 35px; font-weight: bold; letter-spacing: 3px;">Trending Products </p>
  <div id="trendingCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner">
      {% for group_index in range(0, trending_products.shape[0], 3) %}
      <div class="carousel-item {% if group_index == 0 %}active{% endif %}">
        <div class="row">
          {% for index in range(group_index, group_index + 3) %}
          {% if index < trending_products.shape[0] %}
          <div class="col-lg-4 col-md-6 col-sm-12 mb-1" style="height:400px">
            <div class="card shadow custom-hover">
              <img src="{{ trending_products.iloc[index]['imageUrl']}}" class="card-img-top img-fluid" alt="{{ trending_products.iloc[index]['product_name'] }}" style="height: 200px; width: auto; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 20px">{{ truncate(trending_products.iloc[index]['product_name'], 30) }}</h5>
                <p class="card-text" style="font-size: 15px">Brand: {{ trending_products.iloc[index]['Brand'] }}</p>
                <button type="button" class="btn btn-primary" style="font-size: 15px" data-toggle="modal" data-target="#productModal{{ index }}">Buy Now</button>
                <button type="submit" class="btn btn-primary" style="font-size: 15px" onclick="viewSimilar('{{ trending_products.iloc[index]['product_id'] }}')">View Similar</button>
              </div>
            </div>
          </div>
          <!-- Modal for Product Details -->
          <div class="modal fade" id="productModal{{ index }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel{{ index }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="width:400px">
          <div class="modal-header">
            <h4 class="modal-title" style="font-size:20px" id="productModalLabel">{{ truncate(trending_products.iloc[index]['product_name'], 100) }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6" style="padding-left:10px;">
                  <img src="{{ trending_products.iloc[index]['imageUrl'] }}" class="img-fluid" alt="{{ truncate(trending_products.iloc[index]['product_name'], 60) }}" style="width: 300px; height:150px;">
              </div>
              <div class="col-md-6" style="padding-left:20px; padding-bottom:20px; font-size:15px">
                <p><strong>Brand:</strong> {{ trending_products.iloc[index]['Brand'] }}</p>
                <p><strong>Category:</strong> {{ trending_products.iloc[index]['masterCategory'] }}</p>
                <p><strong>Brand:</strong> {{ trending_products.iloc[index]['Brand'] }}</p>
                <!-- Add other product details here -->
                <!-- Example: -->
                <p><strong>Price: Rs</strong> {{ random_price }}</p>
                <!-- Add more details as needed -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="font-size:15px" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" style="font-size:15px" >Add to Cart</button>
          </div>
        </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Carousel Controls -->
{#<!--    <a class="carousel-control-prev" href="#trendingCarousel" role="button" data-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Previous</span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#trendingCarousel" role="button" data-slide="next">-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Next</span>-->
<!--    </a>-->#}
  </div>
</div>

{% if user_id and recommended_products.shape[0] > 0 %}
<!--Suggested for user recommendations-->
<!-- Products -->
<div class="container1 mt-10">
  <p class="text-center mb-10" style=" font-size:40px ;font-weight:bold; letter-spacing: 3px;">Suggested For You</p>
  <div class="row mt-7">
    {% for index, product in recommended_products.iterrows() %}
        {% include 'item_card.html' %}
    {% endfor %}
  </div>
</div>
{% endif %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% include 'footer.html' %}

</body>
</html>
