
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Recommendation System</title>
    <link rel="icon" href="https://img.icons8.com/material-outlined/24/shopping-cart--v1.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
{% include 'navbar.html' %}
<!-- Search Bar -->
<div class="container1 text-center" style="margin-top:30px; width:auto; padding:40px;">
    <form action="/recommendations" method="post" style="display:flex;">
            <input type="text" class="form-control mr-2" style="  padding:10px; font-size:20px ;font-weight:bold; letter-spacing: 2px;" name="search_query" placeholder="Search for products...">
            <button class="btn btn-primary" id="search">Search</button>
    </form>
</div>


{% if message %}
<h5 style="margin-left:42%;margin-top:10px; text:bold;">{{message}}</h5>
{% endif %}

{% if not content_based_rec.empty %}
<!--Searched recommendations-->
<!-- Products -->
<div class="container1 mt-10" style="padding:20px">
  <p class="text-center mb-10" style="  padding:20px; font-size:40px ;font-weight:bold; letter-spacing: 5px;">Available Searched Products</p>
  <div class="row mt-7">
    {% for index, product in content_based_rec.iterrows() %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" style="padding:10px">
      <div class="card rounded shadow custom-hover">
          <img src = "{{ product['imageUrl'] }}" class="card-img-top img-fluid" alt="{{ product['product_name'] }}" style="height: 200px; width: 100% object-fit: cover; ">
        <div class="card-body">
          <h5 class="card-title" style="font-size:20px">{{ truncate(product['product_name'],20) }}</h5>
          <p class="card-text" style="font-size:15px">Brand: {{ product['Brand'] }}</p>
          <button type="button" class="btn btn-primary" style="font-size:15px" data-toggle="modal" data-target="#productModal{{ index }}">Buy Now</button>
            <button  type="submit" class="btn btn-primary" id="View_Similar_Product" style="font-size:15px"
            onclick="viewSimilar('{{ product['product_id'] }}')">View Similar </button>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" style="justify-content: center;" id="productModal{{ index }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="justify-content: center;">
        <div class="modal-content" style="width:400px">
          <div class="modal-header">
            <h5 class="modal-title" id="productModalLabel">{{ product['product_name'] }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6" style="padding-left:10px;">
                  <img src="{{ product['imageUrl'] }}" class="img-fluid" alt="{{ product['product_name'] }}" style="width: 200px; height:150px;">
              </div>
              <div class="col-md-6" style="padding-left:20px; padding-bottom:20px; font-size:20px">
                <p><strong>Brand:</strong> {{ product['Brand'] }}</p>
                <!-- Add other product details here -->
                <!-- Example: -->
                <p><strong>Category:</strong> {{ product['masterCategory'] }}</p>
                <p><strong>Price:</strong> {{ random_price }}</p>
                <!-- Add more details as needed -->
              </div>
            </div>
          </div>
          <div class="modal-footer" style="font-size:10px">
            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"  >Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endif %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% include 'footer.html' %}
</body>
</html>
